body{
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar ul{
    list-style: none;
    background: #bd1e43;
    padding: 0;
    margin: 0;
    text-align: right;    
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    width: 120px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
.navbar a:hover{
    background: #353640;
}

.titles{
    padding: 100px;
}

.titles a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    text-align: center;

}
.titles h3{
    text-decoration: none;
    display: block;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    color: rgb(0, 0, 0);
}
